.advertisement
  .advertisement__content
    .advertisement__content__left
      .advertisement__content__left__top
        スマホでかんたんフリマアプリ
      .advertisement__content__left__middle
        今すぐ無料ダウンロード！
      .advertisement__content__left__bottom
        %li.list
          = image_tag "logo_red.svg", class: "icon1"
          = image_tag "apple.svg", class: "icon2"
          = image_tag "googleplay.png", class: "icon3"
    .advertisement__content__right
      = image_tag "メルカリ.png", class: "icon1"