.breadcrumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  width: 100%;
  height: 48px;
  a:first-child {
    line-height: 48px;
    text-decoration: none;
    color: #333;
    margin-left: 210px;
  }
  a {
    text-decoration: none;
    color: #333;
    line-height: 48px;
  }
  .current {
    font-weight: bold;
    line-height: 48px;
  }  
}
