
.updatebody
  .top1
    .top1__image
      = link_to products_path do
        = image_tag "fmarket_logo_red.svg", class: "icon"

  .main1
    .main1__line
      .main1__line__contener
        .main1__line__contener__head
          更新が完了しました。
          = link_to root_path, class: "path" do 
            投稿一覧へ戻る
            
  .next
  = render "signup/simple_footer"

    

        
      

          